

@font-face {
    font-family: 'orkneybold';
    src: url('../fonts/orkney-bold-webfont.woff2') format('woff2'),
         url('../fonts/orkney-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'orkneylight';
    src: url('../fonts/orkney-light-webfont.woff2') format('woff2'),
         url('../fonts/orkney-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'orkneymedium';
    src: url('../fonts/orkney-medium-webfont.woff2') format('woff2'),
         url('../fonts/orkney-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'orkneyregular';
    src: url('../fonts/orkney-regular-webfont.woff2') format('woff2'),
         url('../fonts/orkney-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}