/* updated */
@import url(animate.css);
@import url(fonts.css);

body{
    margin: 0;
    font-family: orkneyregular;
}
*{
    font-family: 'Roboto' sans-serif !important;
}
#map{
    min-height: 100vh;
}
.search {
    position: absolute;
    z-index: 99;
    padding: 0em 1em;
    width: 100%;
}

.search input {
    background: #fff;
    box-shadow: 0;
    border: none;
    padding: 1.5em 3em;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    height: 3.5em;
    z-index: 99999;
    border-radius: 2px;
    margin: 4em 0;
}


.route-info {
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    height: 8.5em;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    padding: -0.5em 0 0 0;
    overflow: hidden;
    /* display: none; */
}

.form {
    width: 68%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: right;
    padding-right: 3.5em;
    margin: 0.5em 0em 0 0;
    color: #9C9C9C;
}

.to {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* display: block; */
    display: inline-block;
    width: 68%;
    float: right;
    padding-right: 1.5em;
    margin: 10px 0;
    /* font-weight: bold; */
    font-size: 22px;
    line-height: 1em;
    top: -7px;
    position: re;
}

.detail {
    background: #FFFFFF;
    width: 25%;
    position: relative;
    text-align: center;
    min-height: 5em;
    border-right: 1px solid #E6E6E6;
}

.distance {
    font-size: 17pt;
    /* padding: 1.2em; */
    font-weight: 400;
    /* min-height: 5em; */
    padding-top: 35px;
    text-align: center;
}
.splash {
    background: #2dbecd;
    text-align: center;
    margin: 0 auto;
    padding-top: 20vh;
}
.splash .load span {
    color: #172635;
    font-size: 27pt;
    display: none;
}
.splash .load img {
    width: 7em;
    display: block;
    text-align: center;
}

.splash .load {
    text-align: center;
    width: 25%;
    margin: 35em auto;
    transition: all .3s ease-in-out;
}
.auth {
    background: #ffffff;
}

.auth h1 {
    text-align: center;
    /* text-transform: uppercase; */
    padding: 1.5em 0 1em 0;
    font-weight: 100;
    text-transform: uppercase;
    color: #B2CCEA;
}

.auth input[type="text"],.auth input[type="password"] {
    /* background: rgba(255, 255, 255, 0.21); */
    /* border: none; */
    /* padding: 1em; */
    /* height: 3em; */
    /* border-radius: 2px; */
    /* margin: 0em 0 1em 0; */
    /* background: red !important; */
}

input.button-primary.login {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: none;
    margin: 2em auto 2em auto;
    border-radius: 4px;
    /* margin: 1em 0; */
    height: 3em;
    line-height: 3em;
    font-weight: 100;
    padding: 0;
    color: #34495E;
    text-align: center;
    border: none;
}

input.button-primary.register {
    background: white;
    width: 100%;
    display: block;
    color: #213040;
    border: none;
    margin: -14px 0;
}
p.info.ng-binding {
    /* background: #F44336; */
    padding: .5em;
    color: #F5F5F5;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    border-radius: 4px;
    position: fixed;
    max-width: 100%;
    overflow: hidden;
    /* display: none; */
    /* white-space: nowrap; */
    /* width: 100%; */
    /* left: 2.5em; */
    /* width: 100%; */
    /* right: -2.5em; */
    width: 80%;
}
.duration.ng-binding {
    padding: .5em 9px;
    position: absolute;
    top: 0em;
    right: 0;
    font-size: .7em;
    color: red;
    background: #2196F3;
    width: 5em;
    height: 2em;
    line-height: 1em;
    color: white;
    border-bottom-left-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 6em;
}
.overlay {
    background: #34495E;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    margin: 0;
    padding-top: 22em;
    display: none;
}

.overlay img {
    width: 4em;
}
.pick-driver {
    background: white;
    min-height: 50%;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    padding: 1em;
    text-align: center;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
}

.drivers img {
    width: 49%;
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgba(195, 195, 195, 0.49);
    display: block;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
.driver {
    width: 5em;
    display: table-cell;
    /* float: left; */
    position: relative;
    text-align: center;
    /* background: red; */
    margin: 0;
    padding: 0;
}

.pick-driver h5 {
    font-size: 2em;
    font-weight: 100;
    text-transform: uppercase;
    margin: .5em 0 0.5em 0;
    color: #B5B5B5;
    display: none;
}
.button-primary.choose-closer {
    background: #6689A5;
    color: #42A5F5;
    border: none;
    margin: 1em 0;
    /* box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2); */
    border: 1px solid;
    font-weight: 400;
    letter-spacing: 0px;
    /* padding: 0em; */
    height: 2.5em;
    line-height: 1.8em;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    color: #fff;
    width: 70%;
    position: relative;
    text-transform: uppercase;
}
.nav-bar {
  background-color: #2196F3;
  padding: 16px 16px;
  width: 320px;
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.125);
  font-size: 18px;
}

.nav-bar__menu-toggle {
  /* margin-right: 32px; */
}

.nav-bar__menu-toggle,
.nav-bar__title {
  float: left;
  top: 2.5em;
  position: relative;
  left: 1em;
  /* padding: 1em 0px 0em 1em; */
  /* background: red; */
  /* position: fixed; */
  /* left: 7px; */
  /* height: 3em; */
  /* top: 4px; */
  /* margin-top: 3px; */
  text-align: center;
  width: 2em;
  display: none;
  height: 1.4em;
}

.hamburger:before, .hamburger:after,
.habmurger--close:before,
.habmurger--close:after, .hamburger--open,
.hamburger--close {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.hamburger,
.habmurger--close {
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-top: 6px;
  margin-bottom: 6px;
}
.hamburger, .hamburger:before, .hamburger:after,
.habmurger--close,
.habmurger--close:before,
.habmurger--close:after {
  display: inline-block;
  background-color: #7D7D7D;
  height: 2px;
  width: 19px;
  /* background: red; */
  /* height: 4em; */
}
.hamburger:before, .hamburger:after,
.habmurger--close:before,
.habmurger--close:after {
  position: absolute;
  left: 0;
  right: initial;
  -webkit-transform-origin: center;
          transform-origin: center;
  content: '';
}
.hamburger:before,
.habmurger--close:before {
  top: -6px;
}
.hamburger:after,
.habmurger--close:after {
  bottom: -6px;
}

.hamburger--close {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.hamburger--open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.hamburger--open:before, .hamburger--open:after {
  width: 12px;
}
.hamburger--open:before {
  -webkit-transform: rotate(45deg) translate(7px, -4px);
          transform: rotate(45deg) translate(7px, -4px);
}
.hamburger--open:after {
  -webkit-transform: rotate(-45deg) translate(7px, 4px);
          transform: rotate(-45deg) translate(7px, 4px);
}
.search-overlay {
    background: rgba(0, 0, 0, 0.54);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    display: none;
}
.show{
    display: block;
}
.menu {
    position: fixed;
    background: #FCFCFC;
    z-index: 9;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
}

.menu .logo {
    color: #51677D;
    text-align: center;
    font-size: 3em;
    padding: 1em 0 .5em 0;
    text-transform: uppercase;
    text-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    font-weight: 100;
    letter-spacing: 10px;
    /* width: 10%; */
    /* overflow: hidden; */
    position: relative;
    object-fit: contain;
}

.menu {
    text-align: center;
    /* position: relative; */
    /* display: none; */
    width: 0%;
    transition: all .3s cubic-bezier(.55,0,.1,1);
    left: -75%;
    width: 75%;
    opacity: 0;
}

.menu ul {
    text-align: left;
}

.menu .close {
    position: absolute;
    right: .3em;
    top: .2em;
    font-size: 2em;
    color: #D2D2D2;
}

.side-menu li a {
    padding: 1em 1em;
    width: 100%;
    display: block;
    color: #C1C1C1;
    font-size: 1.4em;
    background: #FCFCFC;
    /* background: red; */
    border-left: 3px solid white;
    text-transform: uppercase;
}

.side-menu li {
    /* padding: 1em; */
}
label, legend {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
label {
    /* color: rgb(178, 204, 234); */
    font-size: 1rem;
}

.auth input[type="text"]:focus, .auth input[type="password"]:focus,ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ .auth input[type="text"]:active, .auth input[type="password"]:active {
    background: white;
}
.bottom-links {
    text-align: center;
    color: red;
    border-top: 1px solid #4685CD;
    padding-top: 2em;
}

.bottom-links a {
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
}
.menu.visible {
    left: 0%;
    opacity: 1;
}
.to::before, .form::before {
    color: #2196F3;
    content: "\f456";
    width: 10px;
    height: 10px;
    position: absolute;
    /* background: #2196F3; */
    /* right: 90%; */
    /* left: 0; */
    margin: 1px -15px;
    font-family: Ionicons;
}

.form::after {
    /* content: "\f3d3"; */
    /* background: #4CAF50; */
    position: absolute;
    height: 1em;
    /* width: 6px; */
    /* margin-right: 7em; */
    /* border: 2px dashed #4CAF50; */
    right: 8px;
    height: 4em;
    border-radius: 25px;
    font-family: Ionicons;
    font-size: 5em;
    top: 25px;
    color: #ECECEC;
}

.to::before {
    /* background: #EEFDEF; */
    content: "\f30f";
    color: #4CAF50;
    font-size: 19px;
    /* left: 1px; */
    margin: 0px -18px;
}

.detail div {
    /* border-left: 1px solid red; */
}
.me .avatar img {
    /* background: red; */
    width: 5em;
    height: 5em;
    margin: 1em auto 1em 0em;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(154, 154, 154, 0.16);
    /* z-index: 99999999; */
}

.me {
    background: #FFF;
    padding: 1.5em 1em;
    /* margin: 3em 0; */
}

.meta {
    text-align: left;
}

.meta input {
    /* background: #F7F7F7; */
    /* border: 2px solid; */
    /* border-bottom: 2px solid #5F7082; */
    border-radius: 0;
    color: #39414A;
    padding: 0;
}
.avatar {
    border-bottom: 1px solid #DEDEDE;
    margin: 0em 0 2em 0;
    padding-bottom: 2em;
}
ion-header-bar.bar-header {
    background: white;
    /* padding: 5em; */
    /* padding: 1em; */
    height: 4em;
    line-height: -5em;
    color: red;
}

.bar-header button i {
    margin: 0 10px 0 10px;
    /* color: red; */
}

button.button.buttons.button-clear.header-item {
    color: #5F7082;
    display: block;
    top: 3px;
}
.inner {
    padding-top: 6em;
}
.meta button, .std-button {
    height: 3em;
    line-height: 3em;
    width: 100%;
    border-radius: 2px;
    background: #727A82;
    font-weight: 500;
    /* color: #1565C0; */
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.msg {
    position: fixed;
    bottom: 0;
    background: #43A047;
    width: 100%;
    z-index: 10;
    padding: 1em 3em;
    color: #FFF;
    text-shadow: 1px 1px 1px #2D312E;
    bottom: -5em;
    transition: all .2s ease;
}


.msg.show {
    bottom: 0;
}
.msg.show {}
.general-overlay.overlay-show {
    z-index: 2;
    background: rgba(52, 73, 94, 0.52);
    /* -webkit-filter: blur(15px); */
    display: block;
}
.msg.error {
    background: #E53935;
    /* display: block !important; */
    /* bottom: 0; */
}
.details-tip {
    display: block;
    overflow: hidden;
    position: relative;
    top: -2em;
    position: relative;
    right: 0em;
    top: -3.5em;
}

.details-tip .form {
    /* background: red; */
}

.details-tip .to {
    /* background: red; */
    /* float: right; */
    /* left: 100%; */
    text-align: right;
    right: 0;
    width: 75%;
}

ion-content.sheduled.scroll-content.ionic-scroll {
    top: 3em;
    padding: 1em;
}

.shedule-map {
    background: #CCCCCC;
    width: 100%;
    height: 9em;
    /* border-bottom: 1px solid white; */
}

.shedule {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin: 1em 0;
    background: white;
    padding-top: 3em;
    position: relative;
    /* min-height: 25em; */
}

.shedule-info {
    padding: 0px 1em;
    height: 7em;
}

.price {
    font-size: 12pt;
    font-weight: 400;
    color: #101010;
    background: rgba(95, 112, 130, 0.1);
    display: inline-block;
    height: 4em;
    line-height: 4em;
    width: 5em;
    text-align: center;
    border-radius: 2px;
    top: 1em;
    position: relative;
}

.Hour {
    position: absolute;
    /* bottom: 1em; */
    color: #FFFFFF;
    right: 1em;
    top: 3.5em;
    background: rgba(0, 0, 0, 0.4);
    padding: .2em 1em;
    border-radius: 1em;
    z-index: 3;
}

.shedule-info .distance {
    color: #353D46;
    text-align: left;
    position: absolute;
    z-index: 1;
    /* top: 16em; */
    margin: 1.5em .5em;
    font-size: 10pt;
}

.shedule.on-hold::before {
    content: 'aguardando';
    position: absolute;
    background: #2196F3;
    color: #fff;
    /* border-bottom-right-radius: 7px; */
    padding: .2em 1em;
}

.shedule.on-hold {
    /* background: red; */
}

.on-hold .form::after {
    background: #F44336 !important;
}
.details-driver {
    /* background: red; */
    position: absolute;
    bottom: 0;
    /* width: 100%; */
}

.details-trip {
    /* top: -3.3em; */
    position: relative;
    /* right: 0em; */
    /* float: right; */
    /* right: 0; */
    display: block;
    left: 0;
    height: 4em;
    /* background: red; */
    top: 1em;
}

.details-driver>div {
    /* display: inline; */
    width: 100%;
    font-weight: 100;
}

.car {
    font-weight: bold !important;
    color: #5F7082;
    margin: 0em 0px .5em 0;
}

.shedule-info {
    /* font-size: 12pt; */
    /* position: relative; */
}

.details-trip .form,.details-trip .to {
    /* background: red; */
    /* font-size: 88%; */
    width: 65%;
}

.details-trip .to {
    /* background: red; */
    font-size: 14pt;
    width: 95%;
    padding-right: 0;
}
/
.tabs-trip a {
    background: white;
    text-align: center;
    width: 50%;
    display: inline-block;
    float: left;
    padding: .5em;
    border: 1px solid #C3C3C3;
    color: #B1B1B1;
    text-transform: uppercase;
    white-space: nowrap;
}

.tabs-trip {
    /* margin: 0 auto; */
    /* position: relative; */
    /* text-align: center; */
    /* width: 100%; */
    /* display: block; */
    /* padding: 1em; */
}

a.tab-link:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* border-right: 0; */
    /* background: red; */
    /* padding: 1em; */
    /* width: 44%; */
    /* display: inline-block; */
    /* border: 1px solid red; */
    margin-right: -4px;
    /* border: 1px solid #2196F3 !important; */
}

a {}

a.tab-link:last-child {
    /* background: red; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 1px;
    border-left-color: #2196F3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgba(33, 150, 243, 0);
}

a.tab-link.active {
    color: #2196F3;
    /* border-color: #2196F3; */
    border: 1px solid #2196F3 !important;
}

.total-payment {
    background: rgba(167, 167, 167, 0.12);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
}

.total-tip {
    font-size: 1.2em;
    text-align: u;
    text-transform: uppercase;
    color: #3E5B73;
    padding: 0 0 18px 0;
}

a.shedule-trip {
    padding: 1em;
    /* background: red; */
    position: relative;
    top: 1em;
    color: black;
    text-decoration: underline;
    /* padding: 2em 0; */
    /* margin:  1em 0; */
    line-height: -3em;
}

.drivers {
    padding: 3em 0;
    height: 13em;
    /* position: absolute; */
    /* display: -webkit-inline-box; */
    overflow: hidden;
    /* width: 100%; */
    overflow-x: scroll;
    margin: 4em 0 5em 0;
    position: relative;
    top: -5em;
}

.driver-distance {
    display: inline-block;
    /* float: left; */
}

.driver-name {
    display: inline-block;
    /* float: left; */
    text-align: center;
    /* font-weight: 600; */
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 7em;
    overflow: hidden;
}

.total-tip span {
    font-weight: 600;
    color: #2B3F50;
}
.car-type-field {
    display: inline-block;
    width: 20%;
}

.car-type-field img {
    border: 4px solid rgba(241, 241, 241, 0.31);
    border-radius: 50%;
    padding: 1em;
    width: 70%;
    width: 4em;
    height: 4em;
}

.car-type {
 margin-top: 1em;
 width: 100%;
 /* display: block; */
 position: absolute;
 /* background: red; */
 /* bottom: 1em; */
 right: 0;
 left: 0;
 /* display: inline-block; */
 width: auto;
}

.default-view {
    min-height: 20em;
}

.car-type-field span {
    display: block;
}

.bra,.us {
    width: 10%;
    display: inline-block;
    margin-right: 2em;
}

.language {
    text-align: center;
    margin: 4em 0 1em 0;
}

.car-type-field.active span{
  font-weight: bold;
}

.car-type-field.active img {
    border-color: rgba(33, 150, 243, 0.72);
}
.help:not(p) {
    padding: 2em;
}

.help h5 {
    color: #5F7082;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.help p {
    color: #777777;
}
.choose-closer i {
    float: right;
    position: absolute;
    right: 1em;
    top: .45em;
}

.shedule-info .form::after {
    background: rgb(255, 0, 0) !important;
    content: '';
}

.shedule-info .form {
    /* width: 65%; */
    /* right: 2em; */
    /* position: static; */
    /* padding-right: 0; */
    /* left: 0; */
    /* position: absolute; */
    width: 95%;
}

.shedule-info::before {
    content: '';
    background: #FFFFFF;
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #4CAF50;
}

.on-hold .shedule-info::before {
    border-color: #F44336;
}

.splash img {
    /* height: 5em; */
    /* width: 5em; */
    position: relative;
    top: -11em;
}

.logo svg,.logo img {
    /* background: red; */
    width: 100%;
    height: 2em;
}
.search-field input {
    /* background: red; */
    margin: 0;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

.search-field {
    margin: 1em auto;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    padding: .5em 2em;
    background: #fff;
    position: relative;
    /* border-radius: 2px; */
    overflow: hidden;
    transform: scale(0);
    transition: top .2s ease, transform .1s ease;
    top: 1em;
    position: absolute;
    /* width: calc(100% - 2em); */
    left: 0;
    /* margin: 0 1em; */
    z-index: 6;
    position: fixed;
    left: 0;
    width: 100%;
    right: 100%;
    /* top: 0; */
}

input.input-form {
    border-bottom: 1px solid #CECECE;
}

input.input-form::before {
    content: '';
}

.mark-from::before, .mark-to::before {
    width: 1em;
    content: '';
    height: 1em;
    background: #4CAF50;
    position: absolute;
    left: -1.35em;
    top: 1.2em;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.65);
}

.mark-to,.mark-from {
    position: relative;
}

.mark-from::after {
    content: '';
    position: absolute;
    /* background: rebeccapurple; */
    width: 1px;
    height: 2em;
    top: 2.5em;
    left: -.9em;
    border-left: 1px dashed #5A5A5A;
}

.mark-to::before {
    background: #F44336;
}

.search-field.open {
    transform: scale(1);
    top: -.99em;
}

.search-field.open {}
.back-search {
    font-size: 1.5em;
    text-transform: uppercase;
    color: silver;
    position: absolute;
    right: 1.5em;
    top: 1em;
}
.sugestion {
    background: #FFFFFF;
    padding: 1em;
    border-bottom: .07em solid #E8E8E8;
    /* border-radius: 2px; */
    /* position: absolute; */
    color: #7B7B7B;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    color: #353535;
    padding-left: 3em;
}

.sugestions {
    /* position: absolute; */
    /* min-height: 15em; */
    position: fixed;
    width: calc(100% - 0em);
    top: 10.4em;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    z-index: 9;
    left: 0;
    border-top: 1px solid #EAEAEA;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sugestion:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sugestion:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
}
.meta .item.item-toggle {
    border: none;
    padding: 0;
    margin: 0;
    overflow: visible;
    /* background: #F1F1F1; */
    height: 2em;
    /* padding: 0 1em; */
}

.item.item-toggle.toggle-large.ng-valid {}

.meta .item.item-toggle .track {
    /* background: red; */
    /* z-index: 9999999; */
    /* position: relative; */
    /* top: 10em; */
    /* margin: -6em 0; */
}

.meta .toggle {
    /* background: red; */
    top: -.3em;
    right: 1em;
}

.meta span {
    color: red;
    color: rgb(95, 112, 130);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.founds {
    color: #ABABAB;
    width: 100%;
    display: inline-block;
    border-color: red;*/;
    padding-top: 2em;
    /* background: #03A9F4; */
    /* box-shadow: 0 1px 2px rgba(0,0,0,.05); */
    border-top: 1px solid #DEDEDE;
    border-radius: 2px;
    overflow: hidden;
    height: 12.2em;
    /* position: absolute; */
    /* left: -3em; */
    /* padding: 4em; */
    /* width: 100%; */
    top: 1.5em;
    position: relative;
    /* padding-top: 14em; */
    /* z-index: -1; */
}

.week {
    width: 49%;
    display: inline-block;
    text-align: center;
    padding: 1.em;
    /* background: #42A5F5; */
    /* color: #fff; */
    font-weight: bold;
    border-right: 1px solid #DEDEDE;
}

.month {
    width: 49%;
    display: inline-block;
    text-align: center;
    padding: 1em;
}

.seex {
    text-align: center;
    /* border-top: 1px solid #DEDEDE; */
    font-size: 15pt;
    padding: 0 0em;
}

.founds div span {
    /* float: right; */
    /* width: 100%; */
    /* text-align: right; */
    top: 20px;
    position: relative;
    text-transform: uppercase;
    font-size: 7pt;
    /* float: right; */
    /* position: relative; */
    /* right: 11.5em; */
    text-align: right;
    width: 100%;
    display: block;
}

.user-meta {
    width: 100%;
    /* display: inline-block; */
    /* top: 1.2em; */
    pso: re;
    /* position: relative; */
    /* float: right; */
    /* border-bottom: 1px solid red; */*/;
    /* left: 1em; */
    top: 10px;
    margin: 0em 7em;
    position: relative;
}

.uname {
    tex-w: t;
    font-weight: bold;
    color: #677788;
}

.ustatus.online::before {
    background: #4CAF50;
    /* color: red; */
}

.ustatus::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #CECECE;
    left: 0em;
    top: 5px;
    border-radius: 50%;
}

.ustatus {
    padding-left: 1em;
    position: relative;
    text-transform: lowercase;
    color: #DEDEDE;
    font-style: italic;
}
.statuses {
    position: fixed;
    background: rgba(0, 0, 0, 0.41);
    left: 0;
    top: 0;
    z-index: 9;
    right: 0;
    bottom: 0;
}

.status-options {
    background: #fff;
    width: 50%;
    margin: 14em auto;
    /* padding: 1em; */
    border-radius: 2px;
    overflow: hidden;
}

.status-caption {
    padding: 1em 1.5em;
    font-weight: bold;
    color: #868686;
}

.status-caption.offline {
    color: #E2E2E2;
}


.status-caption.online {
    color: #66BB6A;
}

.status-caption.online.active {
    background: #F7F7F7;
}
.model {
    background: rgba(0, 0, 0, 0.62);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
}

.model .content {
    background: #fff;
    width: 90%;
    /* color: red; */
    margin: 2em auto;
    padding: 1em;
    text-align: center;
    border-radius: 2px;
}

.model h1 {
    color: #607D8B;
    font-weight: 400;
    font-size: 16pt;
    text-align: left;
    margin: 0;
}

.model p {
    cp: r;
    cp: red;
    color: #93A7B1;
    text-align: left;
}

.model a.btn {
    background: #EFEFEF;
    width: 46%;
    display: inline-block;
    padding: .5em;
    border-radius: 2px;
    color: grey;
}

a.btn.btn-confirm {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #2196F3;
    color: #fff;
    font-weight: bold;
}

.user-card .ustatus {
    /* background: red; */
    display: inline-block;
    left: 0;
    position: relative;
}

.user-card .user-meta {
    /* background: red; */
    text-align: left;
    top: 0;
}

.user-card .urate {
    color: #CACACA;
    margin-top: -6px;
}

.user-card .avatar {
    /* background: #607D8B; */
    padding: 1em 0;
    border: none;
    margin-bottom: 0;
    /* width: 1em; */
    /* height: 1em; */
}

.user-card img {
    border-radius: 50%;
    object-fit: cover;
    width: 4em;
    height: 4em;
    float: left;
}

.user-route .form,.user-route .to {
    /* left: 2em; */
    width: 100%;
    float: none;
    display: block;
    padding: 0 1em;
    color: #868686;
}

.user-route .form::after {
    content: '' !important;
    font-size: 10px;
}
.shedule-map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meta.cvv {
    width: 20%;
    display: inline-block;
    margin-right: 3em;
}

.meta.expires {
    width: 60%;
    display: inline-block;
}

.ncard button {
    background: #2196F3;
    width: 100%;
    border: none;
    height: 3em;
    line-height: 1em;
    border-radius: 2px;
}

a.paymethods {
    color: #909090;
    background: rgba(223, 223, 225, 0.23);
    padding: .2em 1em;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pre-card {
    position: relative;
    width: 20%;
    /* background: red; */
    display: inline-block;
    top: -8px;
    left: 4em;
}

.pos-card {
    display: inline-block;
    width: 74%;
    left: 1em;
    position: relative;
    top: -2em;
    /* background: red; */
}

.pre-card img {
    width: 100%;
    object-fit: contain;
    -webkit-filter: grayscale(.);
    opacity: .8;
}

.ccard {
    background: #FFFFFF;
    padding: .5em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    /* border: 1px solid #F9F9F9; */
    border-radius: 2px;
    margin: 5px 0 0 0;
    height: 6em;
}

.pos-card .number {
    font-size: 1.6em;
    font-weight: 100;
    color: #8A8A8A;
}

span.expires {
    font-weight: bold;
}
.loading {
    text-align: center;
}

.loading img {
    display: block;
    text-align: center;
    margin: 4em auto;
    width: 14%;
    margin-bottom: -1em;
}
a.link-bar {
    /* background: #DDDDDD; */
    z-index: 999;
    position: absolute;
    right: 0;
    padding: 1em;
    height: 4em;
    line-height: 2em;
    color: #A2A2A2;
}
.ncard {
    padding: 4.5em 1em;
}
.my-cars {
    background: #4CAF50;
    margin: 0;
    border-radius: 2px;
    padding: .5em 1em;
    color: #FFFFFF;
    /* width: 70%; */
    margin: 0em auto -1em;
    text-align: center;
    display: block;
}


.vbtns a.button {
    height: 1em;
    font-size: 8pt;
    border: 1px solid #EAEAEA !important;
    line-height: 4.5em;
    padding: 0;
    font-weight: 600;
    background: transparent;
    border: none;
    color: #E0E0E0;
}

.vbtns .button-bar {
    height: 5em;
}

.vbtns a.button.active {
    background: transparent;
    border: 1px solid #2196F3 !important;
    box-shadow: none;
    color: #2196F3;
    font-weight: bold;
}

.vbtns a.button:hover {
    background: none;
}
.cars .ccard {
    /* background: red; */
    padding: 1em;
    height: 4em;
}

.cars {
    background: transparent;
}

span.cmodel.ng-binding {
    font-size: 15pt;
    /* position: absolute; */
    /* right: 0; */
    /* top: .7em; */
}

span.type.ng-binding {
    position: absolute;
    ro: 0;
    right: 0;
    color: #8C8C8C;
}

.plate.ng-binding {
    font-weight: bold;
    font-size: 12pt;
    font-weight: 600;
}

.cars .pre-card {
    width: 31%;
}
.button-bar.vbtns {
    margin: 0em 0 2em 0;
}
.couple-figure {
    width: 5em;
    display: inline-block;
    position: absolute;
    /* background: red; */
}
.schedule_trip_form {
    background: rgba(0, 0, 0, 0.46);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    right: 0;
}

.schedule_trip_form .inner_trip {
    background: white;
    padding: 2em;
    width: 70%;
    margin: 10em auto;
    border-radius: 2px;
}

.schedule_trip_form h1 {
    font-size: 15pt;
    color: #607D8B;
}

.hour {
    display: inline-block;
    width: 30%;
}

.time {
    display: inline-block;
    width: 60%;
}

.inner_trip input {
    padding: 0;
}

.inner_foot {
    /* background: red; */
    text-align: center;
    padding: 0em;
    margin: 0;
}

.inner_foot .btn {
    ap: 1em;
    padding: .5em;
    background: #F1F1F1;
    width: 7em;
    display: inline-block;
    color: #616161;
    /* display: block; */
    /* width: 25%; */
    margin: 0;
}

a.btn.btn-schedule {
    background: #2196F3;
    color: #fff;
}
.driver.active img {
    border-color: rgba(33, 150, 243, 0.72);
}
.language img {
    border: 2px solid rgba(241, 241, 241, 0.33);
    border-radius: 50%;
    height: 2em;
    width: 2em;
    object-fit: contain;
    overflow: hidden;
    transform: scale(1.6111);
    /* margin: 0em 2em 0em 3em; */
    /* margin-right: 14em; */
}

.language .active img {
    border-color: #5EB3F6;
}

.driver.active .driver-name {
    font-weight: bold;
}
.inner_driver {
    background: #42A5F5;
    position: absolute;
    width: 100%;
    top: 0;
    height: 3em;
    padding: 1em 0.5em;
}

.inner_driver img {
    background: white;
    width: 10%;
    height: 2em;
    top: -6px;
    position: relative;
    border-radius: 50%;
    border: 0;
    width: 2em;
    object-fit: cover;
    overflow: hidden;
}

.driver-meta {
    /* background: white; */
    width: 75%;
    position: relative;
    display: inline-block;
    top: -1em;
}

.driver-avatar {
    display: inline-block;
    width: 10%;
    position: relative;
    top: -.5em;
}

.driver-name-inner {
    color: white;
    /* font-weight: bold; */
    position: relative;
    top: 6px;
}

.driver-meta .driver-distance {
    /* background: red; */
    font-size: 8pt;
    top: -1px;
    position: relative;
    color: #bdc2c6;
}
.ydrive {
    position: absolute;
    right: 1em;
    top: .7em;
    color: #141517;
    font-weight: bold;
}
.brand img {
    width: 10em;
    height: 10em;
    /* transform: scale(.2); */
    /* opacity: 0; */
    transition: all .3s ease-inout;
}

.load.loada {
    margin: 10em auto;
}

.load.loada {}

.brand.loada {
   
   margin: 1em 0;
}

.brand {
    margin: 30% auto; 
    transition: all .3s ease-in-out;
}

input.input-form {
    /* background: red; */
    border-color: #EAEAEA !important;
    padding-right: 2em;
}

input.input-form:focus,input.input-form:active {
    border-color: #607D8B !important;
}
.options {
    /* background: red; */
    margin-top: 4em;
    padding: 1em;
}

.options a {
    background: rgba(228, 32, 18, 0.34901960784313724);
    display: inline-block;
    padding: .5em;
    /* margin: 5px 0em 5px 1em; */
    border-radius: 2px;
    color: #fff;
    min-width: 8em;
    text-align: center;
    text-transform: uppercase;
    color: #e42012;
}

a.finish-trip {
    background: rgba(76, 175, 80, 0.65);
    color: #155D18;
}
.main-alert {
    background: white;
    position: fixed;
    z-index: 9;
    top: 0;
    bottom: 0;
    padding: 5em;
    text-align: c;
     /*display: none; */
}

.main-alert {
    color: #B3B3B3;
}

.main-alert h1 {
    color: #9C9C9C;
}
a.btn-info-trip {
    /* background: #4CAF50; */
    width: 100%;
    display: block;
    padding: 1em;
    color: #fff;
    text-align: center;
    color: white;
    font-weight: 600;
    animation: Gradient 4s ease infinite;
    background: linear-gradient(-45deg, #4CAF50, #81E085, #4CAF50, #81E085);
    background-size: 400% 400%;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.user-route img {
    width: 100%;
    height: 10em;
    object-fit: cover;
}

.user-route.has-map {
    height: 15em;
}
p.state-loading img {
    width: 2em;
    /* position: absolute; */
    top: 2.15em;
    position: relative;
}

p.state-loading {
    line-height: -11em;
    height: 2em;
    top: -3.6em;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
}
.model.trip a {
    width: 100%;
}

.model.trip h3 {
    color: #607D8B;
    text-align: left;
    font-weight: 200;
}

a.btn.btn-confirm.finish {
    background: #4CAF50;
}
.meta-options {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
}
.meta-options i {
    background: #378FD6;
    padding: .5em;
    width: 2em;
    height: 2em;
    display: block;
    text-align: center;
    top: -.5em;
    position: relative;
    border-radius: 50%;
    line-height: 1px;
    color: #fff;
}
.rate i {
    font-size: 3em;
    padding: 7px;
    color: #4CAF50;
}
.finished img {
    -webkit-filter: grayscale(1);
}

.finished .options {
    display: none;
}

.finished {
    height: 23em;
}

.finished .shedule-info::before {
    border-color: #919191;
}

.finished .inner_driver {
    background: #455a64;
}
a.flag {
    padding: .7em 1em;

    position: relative;
    top: 2em;
    border-radius: 2px;
    text-transform: uppercase;
    color: #B5B5B5;
}

.content.rate-driver {
    height: 16em;
}
.model .trip {
    
}


.waze.waze-internal {
    position: relative;
    /* left: 7em; */
    /* top: -3.5em; */
    font-weight: bold;
    background: red;
    padding: .5em 1em;
    display: inline-block;
    /* right: 13em; */
    /* position: absolute; */
    border-radius: 2px;
    background: #F3F3F3;
    color: #fff;
}

.waze.waze-internal a {
    color: #2196F3;
}
.model.trip {
    /* display: none; */
}
.hotel-chosen {
    position: fixed;
    background: rgba(0, 0, 0, 0.59);
    z-index: 9;
    width: 100%;
    top: 0;
    bottom: 0;
}

.hotel-inner {
    background: #fff;
    width: 80%;
    margin: 5em auto;
    /* padding: 1em; */
    border-radius: 2px;
}

.hotel-chosen .title {
    display: inline-block;
    position: relative;
    top: -5px;
}

.gback {
    display: inline-block;
}

.topb {
    padding: 1em;
    text-transform: uppercase;
    color: #969696;
}

.hotel .name {
    padding: 1em;
    border-bottom: 1px solid #E4E4E4;
    font-size: 15px;
}

.hotel-search {
    height: 1em;
    position: relative;
    top: -1em;
    /* border-bottom: 1px solid red; */
}

.hotel-search input {
    border-bottom: 1px solid darkgrey;
    border-radius: 0;
    line-height: 2em;
    height: 3em;
    background: #fff;
    border-top: 1px solid darkgrey;
    top: 1em;
    position: relative;
}

.hotel-content {
    padding-top: 2em;
    overflow-y: scroll;
    max-height: 22em;
}

.hotel-search input:focus {
    /* background: red; */
    border-color: #F7F7F7;
}

.gback i {
    font-size: 20pt;
    /* line-height: 1em; */
    position: relative;
    top: 0;
}

.hotel-search i {
    /* background: red; */
    position: absolute;
    right: 1em;
    top: .9em;
    font-size: 19pt;
    color: #CACACA;
}
.on-hold .inner_driver {
    background: #455A64;
}
.sugestion::before {
    content: 'content: "\f2a3";';
    content: "\f2a3";
    font-family: IOnicons;
    padding: 0 1em 0 0;
    font-weight: bold;
    color: #03A9F4;
    font-size: 15pt;
    position: absolute;
    left: .5em;
}
.open h1::before {
}

.open h1 i {
    /* background: red; */
    position: absolute;
    left: .5em;
    color: silver;
}

.open h1 {
    color: #607D8B !important;
    font-size: 15pt;
    font-weight: 100;
}

a.btn-info-trip i {
    /* background: red; */
    position: absolute;
    right: 1em;
    font-size: 28pt;
    top: .2em;
}
i.ion-model-s.caption {
    color: gainsboro;
    font-size: 29pt;
    position: absolute;
    bottom: .25em;
}

span.year.ng-binding {
    position: absolute;
    right: 0;
    top: -1em;
    color: #4CAF50;
}

.cards .pre-card {
    /* background: red; */
    width: 20%;
    left: 0;
    top: -1.5em;
}

.cards .pos-card {
    top: -4em;
}

.info-card {
    width: 20%;
    display: inline-block;
    position: relative;
    top: 4px;
}

.credit-card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    /* height: 1em; */
    padding: 1em;
    margin: 12px 0;
}

.info-holder {
    width: 75%;
    display: inline-block;
}

.card-number.ng-binding {
    font-size: 2em;
    color: #868686;
    font-weight: 100;
}

img.card-brand.visa {
    width: 100%;
    height: 100%;
}

span.card-name.ng-binding {
    font-weight: 500;
}

span.card-expires.ng-binding {
    float: right;
    position: relative;
    right: -1em;
    top: .6em;
    color: #4CAF50;
}
.cars .car {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    /* height: 1em; */
    padding: 1em;
    margin: 0;
    color: inherit;
    font-weight: normal !important;
}

.car-info {
    width: 70%;
    /* background: red; */
    display: inline-block;
    padding-left: 4em;
}

.car-meta {
    width: 30%;
    display: inline-block;
    text-align: right;
    position: relative;
    right: 0;
    position: absolute;
    top: 2em;
    right: 1em;
}

.car-model.ng-binding {
    color: #000000;
    font-size: 1.4em;
    text-align: left;
}

.car-plate.ng-binding {
    color: #9A9A9A;
    font-weight: 700;
}

.car-info i {
    position: absolute;
    font-size: 26pt;
    left: .5em;
    color: #D0D0D0;
}

.car-info div {
    /* left: 3em; */
    position: relative;
    /* padding-left: 1em; */
    right: 0;
}
.side-menu a.active {
    background: #ECECEC !important;
    border-color: #607D8B;
    color: #607D8B;
}

.side-menu a i {
    margin-right: 5px;
}

.logo h3 {
    font-weight: 100;
    color: #969696;
    text-shadow: none;
    font-size: .4em;
}

.logo small {
    font-size: 9pt;
    letter-spacing: 0;
    margin: 0;
    position: absolute;
    right: 5em;
    bottom: 4em;
    text-shadow: none;
}
.help input[type="text"] {
    padding: 0;
    border-bottom: 1px solid #CACACA;
    border-radius: 0;
}

.question {
    /* background: #EFEFEF; */
    /* padding: .5em; */
    /* overflow: hidden; */
    /* border-radius: 2px; */
    /* margin: 10px 0; */
    color: #503292;
    font-weight: bold;
    /* padding: 1em; */
    font-size: 17px;
    margin-bottom: 17px;
}

.q-title {
    padding: 0;
    background: #607D8B;
    padding: .5em;
    color: #172931;
}

.q.answer {
    padding: 1em;
}

.q-answer {
    padding: 1em;
    color: #737373;
}

a.btn.btn-send-feedback {
    padding: 1em;
    text-align: center;
    display: block;
    /* background: #2196F3; */
    color: #fff;
    background: #2196F3;
    width: 100%;
    border: none;
    height: 3em;
    line-height: 1em;
    border-radius: 2px;
}

.faq {
    padding: 1em 0;
}
label.ng-binding {
    padding: 1em 0;
    /* background: red; */
    /* text-align: right; */
}

label.user_status::before {
    background: #4CAF50;
    wu: w;
    width: 1em;
    height: 1EM;
    content: '';
    position: absolute;
    border-radius: 50%;
    right: 0;
}

label.ng-binding.user_status {
    font-weight: 200;
}

label.user_status.offline::before {
    background: #AFAFAF;
}
a.tab-link {
    display: inline;
    width: 50%;
    /* width: 100%; */
    padding: 5px 6px;
    width: 50%;
    position: relative;
    display: inline-block;
    width: 46%;
    vertical-align: middle;
    border: 1px solid #E0E0E0 !important;
    color: #B7B7B7;
}

i.ion-navicon.open-menu {
    /* background: red; */
    font-size: 4em;
    position: fixed;
    color: #292929;
}

i.ion-android-search.search-view {
    top: 1.9em;
    position: relative;
    font-size: 25pt;
    left: 26px;
    position: fixed;
    color: #A2A2A2;
}

.pulse-d{
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
    animation: pulse 2s infinite;
 
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.overlay-main- {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
.bottom-links a:nth-child(1) {
    /* background: red; */
    display: inline-block;
    float: right;
}

.bottom-links a:nth-child(2) {
    /* background: red; */
    display: inline-block;
    float: left;
}

input.button-primary.login {}
.pick-header {
    /* background: red; */
    text-align: left;
    position: relative;
    /* color: red; */
}

.pick-header h4 {
    color: #B3B3B3;
    margin-left: .7em;
    position: relative;
    top: -.5em;
    font-weight: 100;
    text-transform: uppercase;
}

.pclose {
    position: absolute;
    right: 0;
    top: -9px;
    font-size: 18pt;
    color: #C5C5C5;
}

.driver-marker img {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    object-fit: cover;
}

.driver-marker {
    text-align: center;
}

span.name {
    display: block;
    font-weight: bold;
}

.car-plate {
    text-transform: uppercase;
    font-weight: 500;
}
.notify-alert {
    position: absolute;
    top: 7em;
    text-align: center;
    width: 100%;
    /* background: red; */
    font-weight: bold;
    color: #2196F3;
}
.seex {
    text-align: center;
    top: 1em;
    position: relative;
    padding: 0em 0 3em 0;
}

.seex .value {
    font-size: 47pt;
    font-weight: 200;
}
.seex {
    text-align: center;
    top: 1em;
    position: relative;
    padding: 0em 0 3em 0;
}

.seex .value {
    font-size: 47pt;
    font-weight: 200;
}
.value sup {
    position: relative;
    top: 1em;
    font-size: 12pt;
    left: 1em;
    top: -2em;
}

.meta label {
    color: #677788;
}

.meta button {
    background: #2196F3;
    box-shadow: none;
}
.login.pane {
    background: url(../res/Fundo%2001.png);
    background-size: 100% 100%;
}

div#login-form {
    width: 65%;
    margin: 10em auto;
    text-align: center;
    overflow: visible;
}

img.lgn-caption {
    position: relative;
    width: 11em;
    height: 100%;
    left: 11em;
    display: block;
    object-fit: contain;
    top: 5em;
    /* overflow: visible; */
    transform: scale(2.5);
    z-index: -2;
    opacity: 0.6;
}

input[type="password"], input[type="text"] {
    background: white;
    height: 3em;
    /* box-shadow: 1px 0px 7px 0px #636363; */
    border-radius: 0;
    border-bottom: 2px solid #2dbecd;
}

img {}

.logo-login img {
    display: block;
    width: 100%;
    position: relative;
    bottom: 3em;
    obe: s;
    object-fit: contain;
}

.login-footer a {
    position: absolute;
}

a.forgot {
    left: 0;
    color: #fff;
}

.login-footer {
    position: relative;
}

a.btn.btn-login {
    background: #fe6514;
    right: 0;
    box-shadow: 1px 1px 2px 0px #636363;
    width: 5em;
    height: 2em;
    line-height: 2em;
    color: #fff;
    border-radius: 2px;
}
.houses-head {
    background: url(../res/Fundo%2001.png);
    /* padding: 1em; */
    /* height: 4em; */
    position: fixed;
    width: 100%;
    height: 5em;
    background-size: 100%;
    background-position: 9em 206%;
    background-clip: padding-box;
}

.logo-field {}

.logo-field {
    /* width: 50%; */
    display: inline-block;
    /* border: red; */
    /* background: red; */
    padding: 1.5em 1em;
}

a.s-menu {
    width: 2em;
    /* background: violet; */
    display: inline-block;
    /* margin-left: 1em; */
}

.s-menu img {
    width: 1.5em;
    height: 1.5em;
}

.sub-logo {
    display: inline-block;
    width: 12em;
}

.sub-logo img {
    width: 9em;
    height: 1.5em;
}

.head-options {
    width: 90px;
    display: inline-block;
    text-align: right;
    float: right;
    top: 1.6em;
    position: relative;
    right: 14px;
}

.head-options img {
    width: 1.5em;
    height: 1.5em;
}

a.search-houses {
    background: #fe6514;
    width: 2em;
    height: 4em;
    border-radius: 50%;
    padding: 1em;
    /* line-height: 3em; */
    padding-top: 17px;
    padding-bottom: 7px;
    padding-left: 11px;
    text-align: center;
    padding-right: 11px;
    box-shadow: 0px 0px 3px 0px #636363;
}

.houses-count {
    background: #FFFFFF;
    color: silver;
    text-align: center;
    font-size: 17px;
    /* padding: 1em 1em 2em 1em; */
    min-height: 2.5em;
    line-height: 2.8em;
}

a.filter-houses {
    /* background: red; */
    width: 2em;
    height: 2em;
    padding: 2em 1em 1em .5em;
}

.houses-view {
    padding-top: 117px;
    /* background: red; */
}

ul.entrys li img {
    width: 100%;
    height: 100%;
    min-height: 286px;
    background: #F3F3F3;
    /* border: none; */
    object-fit: cover;
}

ul.entrys li {
    position: relative;
    margin-bottom: 3px;
    /* margin: 3px 10px; */
    box-shadow: 0px 0px 3px 0px #636363;
}

.custom-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(17, 91, 166, 0.45);
    width: 100%;
    display: block;
}

.entrys li .label {
    position: absolute;
    background: #4CAF50;
    top: 1em;
    padding: .5em 2em;
    color: #fff;
    font-weight: 600;
}
ul.entrys {
    height: calc(100vh - 100px);
    overflow: scroll;
    padding-bottom: 6em;
    /* background: red; */
    padding-top: 0;
    top: -4px;
    position: relative;
}
.info-detail {
    background: #005BAA;
    width: 100%;
    display: inline-block;
    position: relative;
    /* height: 58px; */
    padding: .5em 1em;
    color: #fff;
}

a.know-more {
    /* height: 45px; */
    /* background: red; */
    /* width: 29%; */
    /* display: inline-block; */
    position: absolute;
    right: 0;
    top: 0;
    border: aliceblue;
    background: #FE6514;
    height: 100%;
    line-height: 55px;
    width: 8em;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: orkneybold;
}

h3.title {
    font-family: orkneybold;
    padding: 16px 1em 0px .7em;
    font-size: 19px;
}

.type {
    font-family: orkneybold;
    font-size: 17px;
    position: relative;
    bottom: 4px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
}

.extra-info {
    font-size: 75%;
}
.search-bottom {
    background: #2196F3;
    position: fixed;
    z-index: 99;
    height: 5em;
    bottom: 0;
    padding: 1em;
    width: 100%;
}.search-bottom {}

.inner-search {
    position: relative;
}

.inner-search img {
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: auto;
}

input.bottom-search {
    box-shadow: 1px 0px 7px 0px #636363;
}
::-webkit-input-placeholder {
  font-family: 'orkneyregular';
}
.top-inner {
    height: 3.5em;
    background: red;
    padding: 0 1em;
    background: url(../res/Fundo%2001.png);
    position: fixed;
    width: 100%;
    /* height: 5em; */
    background-size: 100%;
    background-position: 9em 206%;
    background-clip: padding-box;
    z-index: 9;
}

.back-btn {
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    color: #fff;
}

.opt-right {
    display: inline-block;
    float: right;
    /* width: 50%; */
}

.opt-right img {
    width: 2em;
    height: 100%;
    position: relative;
    top: 8px;
}

.back-btn span {
    font-size: 18px;
    /* color: #fff; */
    font-family: orkneylight;
}

.product-hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-caption {
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.07), #000000);
    /* top: 2em; */
    bottom: 0em;
    width: 100%;
    padding: 1em .5em;
    color: #fff;
    padding-top: 1em;
}

.product-hero {
    position: relative;
    padding-top: 3.5em;
}

.hero-caption img {
    width: 1.5em;
    top: 5px;
    position: relative;
    margin-right: 7px;
}

.expand img {
    /* background: red; */
    /* width: 1em; */
}

span.expand {
    display: inline-block;
}

span.image-count {
    display: inline-block;
    float: right;
}

.hero-caption span {
    position: relative;
    top: 0px;
}

.product-meta {}

.product-meta {
    position: relative;
    /* top: 3.5em; */
    /* height: calc(100vh - 35em); */
}

.meta-field {}

.meta-field {
    background: white;
    border-bottom: 1px dashed #E0E0E0;
    padding: 1em;
    color: #5A5A5B;
}

p.meta-heading {
    color: silver;
}
.product-entry {
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.product {}
.get-intouch {
    background: #FF6500;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 2.3em;
    line-height: 2.3;
    font-size: 16px;
    font-family: orkneymedium;
}

.pane.house {
    padding-bottom: 2em;
}

.meta-field:last-child {
    /* background: red; */
    /* padding-bottom: 3em; */
    border: none;
}
.map-view {
    /* background: red; */
    position: static;
    /* width: 100%; */
    /* bottom: 0; */
    /* display: block; */
    position: relative;
    /* top: 100vh; */
    /* padding: 1em; */
    /* padding-bottom: 4em; */
}.map-view {}

.map-view {}

.map-view img {
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 1em 0;
}
.show-more {
    /* background: red; */
    height: 6em;
    text-align: center;
    padding-top: 1em;
    border-top: 1px dashed #E0E0E0;
    /* position: absolute; */
    bottom: 0;
    width: 110%;
    background: #fff;
    overflow: hidden;
    display: block;
}

.show-more {}

.show-more a {
    color: #FF6500;
    font-family: orkneymedium;
}
.get-in-touch-view {
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    height: 100vh;
    overflow: hidden;
    display: block;
}

.gt-yeld {
    background: #0095DC;
    /* position: fixed; */
    width: 100%;
    /* height: 100%; */
    position: a;
    top: 82vh;
    position: relative;
    /* padding: 1em; */
    height: 9em;
}

.top {
    padding: 1em;
    text-align: center;
    color: #fff;
}

.bottom-fields a {
    padding: 1em;
    text-align: center;
    width: 50%;
    display: inline-block;
    /* background: red; */
    margin: 0;
    /* padding: 0; */
    float: left;
    color: #fff;
    font-weight: bold;
}

.bottom-fields {
    border-top: 1px solid #00477F;
    padding-bottom: 2em;
    rop: 1em;
    top: -.3em;
    position: relative;
    height: 5em;
}

.bottom-fields a:first-child {
    border-right: 1px solid #00477F;
}

.speech-bubble {
    position: relative;
    background: #00A1E3;
    border-radius: .4em;
    z-index: 99;
    position: fixed;
    /* display: none; */
    width: 16em;
    right: 2px;
    top: 83px;
    box-shadow: 0px 0px 5px 0px #636363;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.656em solid transparent;
    border-bottom-color: #00A1E3;
    border-top: 0;
    margin-left: 6em;
    margin-top: -0.656em;
}

.speech-bubble a {
    display: block;
    padding: 1em;
    color: #fff;
}
.message.ng-binding.err {
    background: #F44336;
    padding: .5em;
    border-radius: 2px;
    margin: 0px 0 10px 0;
    color: #fff;
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 3em;
      padding-top: 15em;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #2196F3;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #2196F3;
  }
  80%,
  90% {
    stroke: #2196F3;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #2196F3;
  }
  40% {
    stroke: #2196F3;
  }
  66% {
    stroke: #2196F3;
  }
  80%,
  90% {
    stroke: #2196F3;
  }
}

.back-btn i {
    font-size: 28px;
    position: relative;
    top: 4px;
    margin-right: .2em;
}
.sview {
    padding-top: 5em;
    padding: 5em 1em 0em 1em;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 5em;
}

.sfield input[type=text] {
    /* background: red; */
    box-shadow: none;
    height: 3.5em;
    border: 1px solid #D1D1D1;
}

.sfield select {
    box-shadow: none;
    height: 3.5em;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    color: #D1D1D1;
    font-family: orkneyregular;
}

.sfield {
    position: relative;
}

.sfield img {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0;
    top: 16px;
    right: 1em;
}
.top-inner {}

.top-inner.custom {
    background: rgb(0, 150, 221);
    border-bottom: 1px solid #005BAA;
}

.user-hero {
    background: rgb(0, 150, 221);
    text-align: center;
    padding-top: 6em;
    min-height: 21em;
}

.user-hero .uavatar {
    width: 8em;
    height: 8em;
    /* position: absolute; */
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.26);
    margin-bottom: 1em;
    object-fit: cover;
}

.user-hero h4 {
    font-family: orkneybold;
    padding-bottom: 2em;
}

.profile-buttons a {
    float: left;
    background: #0096DD;
    width: 50%;
    display: inline-block;
    padding: 8px;
    color: #fff;
    position: relative;
}

.profile-buttons {
    border-top: 1px solid #005BAA;
    width: 100%;
    background: #0096DD;
    overflow: hidden;
}

.profile-buttons a:first-child {
    border-right: 1px solid #005BAA;
}

.profile-buttons img {
    /* background: red; */
    width: 16px;
    height: 16px;
    position: relative;
    /* left: 3em; */
    top: 4px;
    margin-right: 4px;
}
div#js-mobile-console {
    background: white;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    width: 100%;
}div#js-mobile-console {}
.back-btn a {
    color: #fff;
}
.my-houses-view {
    /* background: red; */
    height: 24em;
    padding-bottom: 6em;
    color: #BAB7B7;
    overflow-y: scroll;
    width: 100%;
}

.current-house {
    /* background: blue; */
    position: relative;
    padding-left: 7em;
    padding-right: 1em;
    /* margin-top: 2.7em; */
    height: 10em;
    /* padding-top: 2em; */
    padding-top: 1em;
    margin-bottom: -19px;
    width: 100%;
}

.current-house img {
    float: right;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 25px;
}

.current-house::before {
    background: #E4E4E4;
    position: absolute;
    width: 7px;
    height: 100%;
    left: 3em;
    content: '';
    top: 0;
}

h6.hosue-title {
    font-size: 16px;
    color: #BAB7B7;
}

.hosue-info {
    font-size: 11px;
    color: #BAB7B7;
}

img.orbit {
    float: none;
    position: absolute;
    border-radius: 0;
    width: 2em;
    height: 2em;
    background: #D4D4D4;
    left: 2.3em;
    top: 3em;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid white;
}

.credits {
    position: fixed;
    border: 0;
    bottom: 0;
    background: #0096DD;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: #fff;
}
.no-adv {
    text-align: center;
    padding: 5em 0;
    font-size: 20px;
    color: #CCCCCC;
}

.credits a {
    color: #fff;
}
.my-houses-view {
    /* background: red; */
    height: 24em;
    padding-bottom: 6em;
    color: #BAB7B7;
    overflow-y: scroll;
    width: 100%;
}

.current-house {
    /* background: blue; */
    position: relative;
    padding-left: 7em;
    padding-right: 1em;
    /* margin-top: 2.7em; */
    height: 10em;
    /* padding-top: 2em; */
    padding-top: 1em;
    margin-bottom: -19px;
    width: 100%;
}

.current-house img {
    float: right;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 8px;
}

.current-house::before {
    background: #E4E4E4;
    position: absolute;
    width: 7px;
    height: 100%;
    left: 3em;
    content: '';
    top: 0;
}

h6.hosue-title {
    font-size: 16px;
    color: #BAB7B7;
}

.hosue-info {
    font-size: 11px;
    color: #BAB7B7;
}

img.orbit {
    float: none;
    position: absolute;
    border-radius: 0;
    width: 2em;
    height: 2em;
    background: #D4D4D4;
    left: 2.3em;
    top: 2em;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid white;
}

.credits {
    position: fixed;
    border: 0;
    bottom: 0;
    background: #0096DD;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: #fff;
}

.product-hero.open {
    background: rgba(0, 0, 0, 0.91);
 
    position: absolute;
    width: 100%;
    z-index: 9;
    padding: 6em 0;
    height: 100%;
}

.product-hero.open .hero-caption {
    display: none;
}
.user-hero.custom a {
    background: rgb(255, 255, 255);
    padding: 1em 5em;
    margin: 6em 0;
    margin-top: 1em;
    position: relative;
    top: 14em;
    border-radius: 2px;
    color: #005BAA;
}

.user-hero.custom {
    min-height: 100%;
}
.search-clear {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-clear a {
    display: block;
    text-align: center;
    background: #FF6500;
    margin: 6px 0;
    width: 90%;
    margin: 9px auto;
    box-shadow: 0px 0px 3px 0px #636363;
}

a.ssearch {
    border-radius: 2px;
    padding: 6px 0;
    color: #fff;
    font-size: 15px;
}

a.csearch {
    border-radius: 2px;
    padding: 6px 0;
    color: #FF6500;
    font-size: 19px;
    background: #fff;
    font-size: 91%;
    box-shadow: none;
    display: none;
}
.house-price {
    position: absolute;
    background: rgb(254, 101, 20);
    right: 0;
    padding: 5px 5px;
    color: rgba(0, 0, 0, 0.55);
    border-bottom-left-radius: 2px;
    z-index: 11;
}
a.logout img {
    transform: scale(-1, -1);
}

.bar-login {
    position: fixed;
    padding: 1em;
    text-align: right;
    background: radial-gradient(rgba(255, 255, 255, 0.28),rgba(0, 0, 255, 0));
    width: 100%;
    background-size: 200% 1900%;
    color: white;
}.bar-login {}
.bar-login a {
    color: white;
    font-weight: 600;
}.bar-login {}
.gal img {
    width: 3em;
    height: 3em;
    /* padding: 1em; */
    margin: 0 3px;
    object-fit: cover;
    display: inline-block;
    /* background: red; */
}

.gal {
    padding: 1em;
    /* top: 0; */
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    bottom: 0;
}
.product-hero .label {
    position: absolute;
    background: #4CAF50;
    top: 6em;
    padding: .5em 2em;
    color: #fff;
    font-weight: 600;
}

.product-hero.open .label {
    display: none;
}
.overflow-search {
    background: rgba(0, 0, 0, 0.62);
    z-index: 99999999999;
    position: fixed;
    width: 100%;
    top: 0;
    display: block;
    text-align: center;
    bottom: 0;
    color: #fff;
    padding-top: 18em;
}

.overflow-search svg {
    /* background: red; */
    width: 10%;
    /* color: #fff; */
}

.overflow-search div {
    width: 40%;
    na: m;
    margin: 0 auto;
}
.initial.pane {
    background: #503292;
    background-image: url(../../img/bg2.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 53em 100%;
}

.pane {
    padding: 6em;
}

.anounce p {
    width: 60%;
    color: #fff;
    margin: 18px 0;
}

.anounce h4 {
    /* background: red; */
    font-size: 25px;
    padding: 1em 0;
    color: #2dbecd;
    font-weight: bold;
}

a.btn {
    background: #2dbecd;
    padding: 10px 4em;
    /* margin: 6px 1em; */
    color: #fff;
    border-radius: 2px;
    transition: .5s ease;
}

.fields {
    position: relative;
    padding: 0;
    height: auto;
    top: 4em;
}
.auth.pane {
    padding: 0;
}

.master-head {
    padding: 3em 6em;
    background: #503292;
}

.auth-yeld {
    padding: 6em;
    width: 100%;
    background: #ffffff;
    background-image: url(../../img/bga.png);
    background-repeat: no-repeat;
    background-position: -88% 0;
    background-size: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto 45em;
    padding-top: 1em;
}

input[type="text"] {
    /* background: red; */
    /* border: none !important; */
}

.form-auth {
    width: 22em;
    padding: 0 auto;
}
.quiz.pane {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: scroll;
}
    input[type='radio']:after {
        width: 1.5em;
        height: 1.5em;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
    width: 1.5em;
    height: 1.5em;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #2dbecd;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

.iradio {
    width: 3em;
    /* background: red; */
    text-align: center;
    display: inline-block;
    text-align: left;
    position: relative;
}

.answer {
    display: inline-block;
    font-size: 13px;
    top: -2px;
    position: relative;
    /* left: 3em; */
    width: 90%;
}

.quiz-yeld {
    padding: 0 9em;
    /* height: 100%; */
    /* overflow: scroll; */
}

.quiz-field {
    /* background: red; */
    margin: 8px 0;
    border-radius: 2px;
    /* padding: 8px; */
    font-size: 11px;
    padding: 1em 0;
}



.quiz-item {
    margin-bottom: 49px;
    /* margin-top: 20px; */
}
p.tex {
    padding: 2em 0;
}
.quiz-progress {
    /* background: red; */
    width: 70%;
    height: 3em;
    position: relative;
    top: -3em;
    padding: 1em;
    margin: 0 auto;
}

.quiz-bar {
    background: #ececf2;
    width: 100%;
    height: 18px;
    position: relative;
    padding: 4px;
    border-radius: 10px;
}

.quiz-fill {
    background: #eb3c96;
    height: 100%;
    border-radius: 10px;
    transition: width 1s ease;
}

.quiz .fields {
    /* background: red; */
    text-align: center;
    padding-bottom: 7em;
    padding-top: 2em;
}

.quiz .fields a {
    margin: 0 3em;
}
.quiz-item {
    opacity: 1;
}
.quiz-item.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.quiz-item.ng-enter-active {
    opacity: 1;
}

a.btn:hover {
    background: #208792;
}
.admin.login.pane {
    /* width: 40em; */
    /* margin: 0 auto; */
    background: #503292;
    background: #503292;
    background-image: url(../../img/bg2.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 53em 100%;
}

.auth-yeld-adm {
    width: 24em;
    margin: 0 auto;
    top: 2em;
    position: relative;
}

.admin .head {
    text-align: center;
}

.admin input[type=text],.admin input[type=password] {
    border: none;
    border-radius: 3px;
}

.below {
    position: relative;
}

.forgot {
    position: absolute;
    right: 0;
    top: 0;
}

.remember {
    color: #fff;
    /* line-height: 13px; */
}

input.ng-pristine.ng-untouched.ng-valid {
    position: relative;
    /* top: 8px; */
    top: 0px;
}

.forgot a {
    color: #2dbecd;
}
.auth-yeld-adm h3 {
    color: #2dbecd;
    text-align: center;
    padding-bottom: 1em;
}
.side {
    width: 7em;
    background: #2dbecd;
    /* display: inline-block; */
    position: fixed;
    /* padding-top: 3em; */
    /* height: auto; */
    height: 100%;
    z-index: 9;
    padding-top: 5em;
}

ul.smenu img {
    display: block;
    margin: 0 auto;
}

ul.smenu li {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
    /* background: red; */
}

.adm.home.pane {
    padding: 0;
    /* overflow: scroll; */
    height: auto;
    display: block;
}

li.active {
    background: #96d7d2;
}

li.active a {
    color: #eb3c96 !important;
}

ul.smenu a {
    color: white;
}

img.side-logo {
    padding-bottom: 4em;
}
.adm-l .yeld {
    /* background: red; */
    height: 100vh;
    display: block;
    position: relative;
    width: 100%;
    padding-left: 12em;
    padding-top: 9em;
    overflow: scroll;
    padding-bottom: 9em;
    font-size: 79%;
}

.adm-card {
    background: white;
    width: 75%;
    border-radius: 2px;
    padding: 1em;
    /* border: 1px solid #2dbecd; */
    box-shadow: 0px 0px 6px -3px black;
}

.yeld h1 {
    color: #2dbecd;
}

.adm-card h5 {
    color: #503291;
    font-size: 12pt;
    padding: 1em 0 0 0;
}

thead {
    background: #2dbecd;
    /* padding: 1em; */
}

thead th, td {
    padding: 9px;
    color: #503291;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;
}

td {
    text-transform: none;
    font-weight: normal;
    border-bottom: 1px solid #dedede;
    color: black;
}   
.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}
a.btn.no-animate.bak {
    background: #fff;
    color: #583390;
}
.message {
    padding: 1em;
    background: #4CAF50;
    border-radius: 2px;
    margin: 3px 0;
    color: #fff;
}

.message.err {
    background: #F44336;
}
div#DataTables_Table_0_length {
    display: none;
}

input[type="search"] {
    background: #dedede;
    height: 1;
    px: 0;
    padding: 0;
    font-size: 17px;
    height: 32px;
    width: 191px;
    border-radius: 2px;
    color: #565656;
    padding: 0 1em;
}

div#DataTables_Table_0_filter label {
    font-weight: normal !important;
}

a.paginate_button.current {
    background: #2dbecd !important;
    border: none !important;
    color: #fff !important;
    border: 0 !important;
}

a#DataTables_Table_0_next {
    background: #2dbecd36;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #2dbecd;
    border: none;
}
div#DataTables_Table_0_info {
    width: 40%;
    display: inline-block;
    height: 5em;
    padding: 1.5em 0;
}

div#DataTables_Table_0_paginate {
    width: 50%;
    display: inline-block;
    float: right;
    /* position: absolute; */
    right: 0;
    text-align: right;
    padding: 1em;
}

a#DataTables_Table_0_previous {
    padding: 5px;
    /* background: red; */
}

a.paginate_button.current {
    /* padding: 5px; */
    background: red;
    width: 1em;
    position: relative;
}

a.paginate_button {
    padding: 5px;
    /* background: red; */
    width: 20px;
    margin: 2px;
    /* padding: 5px; */
}

div#DataTables_Table_0_paginate span a {
    /* background: red; */
    padding: 5px 17px;
    border-radius: 2px;
}

div#DataTables_Table_0_paginate a {
    /* background: #2dbecd; */
    /* padding: 1em; */
    color: #eb3c96;
    padding: 5px 17px;
    border-radius: 2px;
}

div#DataTables_Table_0_filter {
    text-align: right;
    font-weight: normal !important;
}
.quiz-item.err {
    /* background: red; */
    /* border: 3px solid #F44336; */
}

.quiz-item.err .question {
    color: red;
}
.spinner {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  
}
.spinner .path {
  stroke: #ea3c95;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.load-quiz {
    position: relative;
    padding: 7em;
}



.chk:checked:before {
  top: -9px;
  left: -8px;
  width: 14px;
  height: 24px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #35ac19;
  border-bottom: 2px solid #35ac19;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.chk:before {
   content: '';
   position: absolute;
   top: -6px;
   left: -1px;
   width: 18px;
   height: 18px;
   z-index: 0;
   border: 2px solid #A9ABAE;
   border-radius: 1px;
   margin-top: 2px;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -o-transition: .2s;
   -ms-transition: .2s;
   transition: .2s;
   background:#fff;
}

.alert.ng-binding {
    padding: 1em;
    background: #F44336;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 2em;
} 
tr:hover {
    background: #0aabbb;
    /* color: red; */
}

tr:hover > td {
    color: white;
}
.user-l.tj {
    width: 28%;
    display: inline-block;
    position: relative;
    top: -7.8em;
    text-align: center;
}

.user-l.tj .btn {
    display: block;
    margin: 1em 0;
}

.tj {
    border: 1px solid #2dbecd;
    border-radius: 4px;
}

.head-j {
    background: #2dbecd;
    padding: 10px;
    font-size: 9pt;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.panel-yeld {
    padding: 3em;
}
.user-r.tj {
    width: 60%;
    display: inline-block;
}
a.btn.btn-danger {
    background: #F44336;
}

a.btn.btn-merck {
    background: #503291;
}
p.ih {
    color: #503291;
    font-weight: bold;
}