<div class="adm home pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="adm-l">

		<div class="side">
			<img src="wp-content/themes/merck/img/log-adm.png" alt="" class="side-logo">
			<ul class="smenu">
				<li class="active"><a href="#"><img src="wp-content/themes/merck/img/users-lt.jpg">Usuários</a></li>
				<li><a href="#"><img src="wp-content/themes/merck/img/reports.png">Relatórios</a></li>
				<li><a ng-click="goTo('/adminauth')"><img src="wp-content/themes/merck/img/exit.png">Sair</a></li>
			</ul>
		</div>
		<div class="yeld">

			<h1>Usuários</h1>
			<div class="adm-card" ng-show="listTables">
				<h5>Listagem de usuários</h5>
				<table datatable options="dataTableOptions" items="backData"></table>
				
			</div>
			<div class="eview" ng-show="isView">
				<h5>Listagem de usuários</h5>
				<div class="user-r tj">
					<div class="head-j">Informações</div>

					<div class="panel-yeld">
						<div class="fieldset">
							<p class="ih">Nome</p>
							<p>Guilherme</p>
						</div>
	 
	 					<div class="fieldset">
							<p class="ih">Email</p>
							<p>guihknx@gmail.com</p>
						</div>
	 					<div class="fieldset">
							<p class="ih">Tipo	</p>
							<p>Gerentem</p>
						</div>	
	 					<div class="fieldset">
							<p class="ih">Região	</p>
							<p>Barra da tijuca</p>
						</div>												
	 
					</div>

				</div>
				<div class="user-l tj">
					<div class="head-j ">Ação</div>
					<div class="panel-yeld">
						
						<a class="btn">Editar</a>
						<a class="btn btn-danger">Ativar/Desativar</a>
						<a class="btn btn-merck">Autorizar refazer o teste</a>
					</div>


				</div>
				
			</div>
			<div class="uedit" ng-show="isEdit">
				<h5>Listagem de usuários</h5>
				<div class="user-r tj">
					<div class="head-j">Informações</div>

					<div class="panel-yeld">
						<div class="fieldset">
							<p class="ih">Nome</p>
							<input type="text" name="name" value="Guilherme">
						</div>
	 
	 					<div class="fieldset">
							<p class="ih">Email</p>
							<input type="text" name="name" value="guihknx@gmail.com	">
						</div>
	 					<div class="fieldset">
							<p class="ih">Tipo	</p>
							<input type="text" name="name" value="Gerente">
						</div>	
	 					<div class="fieldset">
							<p class="ih">Região	</p>
							<input type="text" name="name" value="Barra da">
						</div>												
	 
					</div>

				</div>
				<div class="user-l tj">
					<div class="head-j ">Ação</div>
					<div class="panel-yeld">
						
						<a class="btn">Editar</a>
						<a class="btn btn-danger">Ativar/Desativar</a>
						<a class="btn btn-merck">Autorizar refazer o teste</a>
					</div>


				</div>
				<div class="below-fields">
					<br />
					<br />
					<br />
					<br />
					<a class="btn">Savar</a>
					<a class="btn">Cancelar</a>
				</div>
			</div>						
			<div class="adm-card" ng-show="!isView && !isEdit">
				<h5>Listagem de usuários</h5>
				<table datatable options="dataTableOptions" items="backData"></table>
				
			</div>				
		</div>
	</div>
	

</div>