<div class="admin login pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="head">
		<img src="wp-content/themes/merck/img/logo-shrink.png" alt="">
	</div>
	<div class="auth-yeld-adm">
		<form class="class-lgn"  ng-show="!isRegister">
			<h3>Bem vindo! Faça login na sua conta.</h3>
			<div class="message" ng-show="isValidL">{{isValidL.message}}</div>
			<div class="message err" ng-show="notValidL">{{notValidL.message}}</div>
			<input type="text" placeholder="E-mail" ng-model="login.user">
			<input type="password" placeholder="Senha" ng-model="login.pass">
			<div class="below">
				<div class="remember">
					<input type="checkbox" placeholder="Senha" ng-model="passwdr">
					Lembrar de mim

				</div>
				<div class="forgot">				
					<a href="#">Esqueci minha senha</a>
				</div>			
			</div>
		</form>
		<form class="class-reg" ng-show="isRegister">
			<h3>Criar uma conta</h3>
			<div class="message" ng-show="isValidR.message && isValidR">{{isValidR.message}}</div>
			<div class="message err" ng-show="notValidR.message && notValidR">{{notValidR.message}}</div>			
			<input type="text" placeholder="Nome" ng-model="register.name" name="name">
			<input type="text" placeholder="E-mail" ng-model="register.email" name="email">
			
			<input type="text" placeholder="Data de nascimento"  placeholder="19/07/1990"  mask='39/19/9999' ng-model="register.dob" name="dob">
			
			<input type="password" placeholder="Senha" ng-model="register.pwd" name="pass">

			<div class="remember">
								
					<a href="#">< Fazer login</a>
						
			</div>			
			</form>
		<div class="fields">
			<a class="btn no-animate" ng-click="doLogin()"  ng-show="!isRegister">Entrar</a>
			<a class="btn no-animate bak" ng-click="toggleRegister()" ng-show="isRegister">Voltar</a>
			<a class="btn no-animate" ng-click="toggleRegister()"ng-show="!isRegister">Registro</a>
			<a class="btn no-animate" ng-click="doRegister()" ng-show="isRegister">RegistroR</a>
		</div>
	</div>

</div>