<div class="auth pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="master-head">
		<img src="wp-content/themes/merck/img/logo-shrink.png" alt="">
	</div>
	<div class="auth-yeld">


		<div class="anounce">
			<h4>Mapeamento de Desenvolvimento Individual - AAG</h4>
		</div>
		<div class="form-auth">
			<div class="alert" ng-show="loginMsg">{{loginMsg}}</div>
			<div class="field">
				<label>Email:</label>
				<input type="text" ng-model="user.email" placeholder="me@host.tld">
			</div>
			<div class="field">
				<label>Data de nascimento:</label>
				<input type="text" ng-model="user.dob" placeholder="19/07/1990"  mask='39/19/9999'>

		</div>
		<div class="fields">
			<div class="load-quiz" ng-show="loginLoad">
				<svg class="spinner" viewBox="0 0 50 50">
				  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
				</svg>				
			</div>			
			<a class="btn" ng-click="loginDob()" ng-hide="loginLoad">Continuar</a>
		</div>
	</div>

</div>