<div class="initial pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="head">
		<img src="wp-content/themes/merck/img/logo-shrink.png" alt="">
	</div>
	<div class="anounce">
		<h4>Parabéns! Você concluiu o teste.</h4>
		<p>Aguarde</p>
		<p>O seu gerente irá enviar o resultado do seu assssment por em-mail. </p>

	</div>
	<div class="fields">
		<a class="btn" ng-click="">Voltar</a>
	</div>

</div>