<div class="adm home pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="adm-l">

		<div class="side">
			<img src="wp-content/themes/merck/img/log-adm.png" alt="" class="side-logo">
			<ul class="smenu">
				<li class="active"><a href="#"><img src="wp-content/themes/merck/img/users-lt.jpg">Usuários</a></li>
				<li><a href="#"><img src="wp-content/themes/merck/img/reports.png">Relatórios</a></li>
				<li><a ng-click="goTo('/adminauth')"><img src="wp-content/themes/merck/img/exit.png">Sair</a></li>
			</ul>
		</div>
		<div class="load-quiz" ng-show="isLoading">
			<svg class="spinner" viewBox="0 0 50 50">
			  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
			</svg>				
		</div>	
		<div class="yeld" ng-show="!isLoading">
			<h1>Usuários</h1>
			<div class="uedit" >
				<h5>Listagem de usuários</h5>
				<div class="user-r tj">
					<div class="head-j">Informações</div>

					<div class="panel-yeld">
						<div class="fieldset">
							<p class="ih">Nome</p>
							<input type="text" ng-model="current.user.user_nicename" name="name" value="{{editUser.meta.nickname[0]}}">
						</div>
	 
	 					<div class="fieldset">
							<p class="ih">Email</p>
							<input type="text" value="{{editUser.user.user_email}}" name="name"  ng-model="current.user.user_email" value="guihknx@gmail.com	">
						</div>
	 					<div class="fieldset">
							<p class="ih">Tipo	</p>
							<input type="text" name="name" value="Gerente" ng-model="current.meta.type">
						</div>	
	 					<div class="fieldset">
							<p class="ih">Região	</p>
							<input type="text" name="name" value="Barra da"  ng-model="current.meta.region">
						</div>												
	 
					</div>

				</div>
				<div class="user-l tj">
					<div class="head-j ">Ação</div>
					<div class="panel-yeld">
						
						<a class="btn">Editar</a>
						<a class="btn btn-danger">Ativar/Desativar</a>
						<a class="btn btn-merck">Autorizar refazer o teste</a>
					</div>


				</div>
				<div class="below-fields">
					<br />
					<br />
					<br />
					<br />
					<a class="btn">Savar</a>
					<a class="btn">Cancelar</a>
				</div>
			</div>						
			
		</div>
	</div>
	

</div>