<div class="initial pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="head">
		<img src="wp-content/themes/merck/img/logo-shrink.png" alt="">
	</div>
	<div class="anounce">
		<h4>Mapeamento de Desenvolvimento Individual - AAG</h4>
		<p>ASSESSMENT DO GERENTE</p>
		<p>Este é um Mapeamento de Desenvolvimento Individual. Não existem respostas certas ou erradas. Portanto, seja sincero ao responder o questionário. </p>
		<p>Por favor, leia atentamente cada uma das afirmações e pense o quanto você evidencia de forma frequente e adequada o comportamento comparado a um outro. A seguir, marque no local apropriado sua resposta para cada questão.</p>
		<p>O Objetivo desse mapeamento é reconhecer as competências desenvolvidas e identificar oportunidades de outras necessárias para melhoria da sua performance.</p>
		<p>Dedique aproximadamente 20 minutos do seu tempo para realizá-lo.</p>
	</div>
	<div class="fields">
		<a class="btn" ng-click="goTo('auth')">Iniciar</a>
	</div>

</div>