<div class="quiz pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
	<div class="master-head">
		<img src="wp-content/themes/merck/img/logo-shrink.png" alt="">
		<a class="logout" href="/wp-login.php?action=logout">Sair</a>
	</div>
	<div class="quiz-yeld">
		<div class="anounce">
			<h4>Mapeamento de Desenvolvimento Individual - AAG</h4>

		</div>		
	<p class="tex" ng-show="page == 1">Nessa primeira parte você irá ler dois comportamentos associados no seu dia a dia. Comportamentos quando frequentes são considerados hábitos. Para responder reflita sobre o quanto o você precisa desenvolver ou melhorar um dos comportamentos, fazendo dele um hábito mais evidente.</p>	
	
		<div class="quiz-list">
			<div class="load-quiz" ng-hide="quiz">
				<svg class="spinner" viewBox="0 0 50 50">
				  <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
				</svg>				
			</div>
			<div 
				class="quiz-item" 
				ng-repeat="item in quiz  track by $index"
				ng-class="{'err': item.hasError }"
				id="{{item.ID}}"
				ng-click="resetState($index, item.options)"
			>				
			<div class="question">{{item.title}}</div>
			<div class="quiz-field" ng-repeat="f in item.options">
				<div class="iradio" ng-if="item.options.length == 2">
					<input 
						type="radio" 
						ng-model="item[item.id + '_' + right]" 
						name="{{f.id}}" 
						value="{{f.val}}"
					>
				</div>
				<div class="iradio"  ng-if="item.options.length > 2">
					<input 
						ng-click="parseChk(f, $parent.$parent.$index)"
						type="checkbox"						
						ng-model="f.id" 
						name="{{f.id}}" 
						value="{{f.val}}"
						class="chk"
					>
				</div>					
				<div class="answer">
					<span>{{f.caption}}</span>
				</div>					
			</div>
			</div>
		</div>
		<div class="fields"  ng-show="quiz">
			<div class="quiz-progress">
				<div class="quiz-bar">
					<div class="quiz-percent"></div>
					<div class="quiz-fill" ng-style="{'width':percent+'%'}"></div>
				</div>
			</div>
			<a class="btn" href="javascript:;" ng-click="prevPage()">Anterior</a>
			<a class="btn" href="javascript:;" ng-click="nextPage()">próximo</a>
			
		</div>
	</div>

</div>