<div class="pane search-view" nav-view="active">
<div class="overflow-search" ng-show="isLoadingSearch"><p><div><svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
  </svg>Aguarde</div></p>
</div>
    <div class="top-inner">
        <div class="back-btn">
            <a href="#/houses">
			<i class="ion ion-ios-arrow-back"></i>
			<span>Filtre sua busca</span>
		</a>
        </div>

    </div>
    <div class="sview">
        <div class="sfield">
            <input type="text" ng-model="search.q" placeholder="Digite um endereço de busca" class="bottom-search">
            <img src="./assets/res/Icon%2001.png" alt="" ng-click="searchByFilters()">
        </div>
        <div class="sfield">
            <select class="comprar" name="transacao" id="sl-transacao" ng-init="search.finalidade=''" ng-model="search.finalidade">
			<option value="">Finalidade</option>
			<option value="0">Venda</option>
			<option value="1">Aluguel</option>
			<option value="2">Aluguel temporada</option>
			<option value="3">Lançamentos</option>
		</select>
        </div>
        <div class="sfield">
            <select name="tipoimovel" ng-init="search.tipo=''" ng-model="search.tipo" id="sl-tipoimovel" class="chosen-select tipoimovel">
			<option value="">Tipo de Imóvel</option>
			<option ng-repeat="type in types" value="{{type.id}}">{{type.label}}</option>
			
		</select>
        </div>
        <div class="sfield">
            <select ng-init="search.quartos='0'" ng-model="search.quartos" class="quantidade_quartos" id="quantidade_quartos">
						<option value="0" selected>Quartos</option>
						<option value="1">1 quarto</option>
						<option value="2">2 quartos</option>
						<option value="3">3 quartos</option>
						<option value="4">4 quartos</option>
						<option value="5">5+ quartos</option>
					</select>
        </div>
        <div class="sfield">
            <select class="quantidade_vagas" ng-init="search.vagas=''" ng-model="search.vagas" id="quantidade_vagas">
						<option value="">Vagas</option>
						<option value="1">1 vaga</option>
						<option value="2">2 vagas</option>
						<option value="3">3 vagas</option>
						<option value="4">4 vagas</option>
						<option value="5">5+ vagas</option>
					</select>
        </div>
        <div class="sfield">
            <select id="uf" name="uf" class="chosen-select uf" ng-init="search.estado=''" ng-model="search.estado"  ng-change="updateCitys()">
						<option value="">Todos os estados</option>
						<option value="AC">Acre</option><option value="AL">Alagoas</option><option value="AM">Amazonas</option><option value="AP">Amapá</option><option value="BA">Bahia</option><option value="CE">Ceará</option><option value="DF">Distrito Federal</option><option value="ES">Espírito Santo</option><option value="GO">Goiás</option><opti	on value="MA">Maranhão</option><option value="MG">Minas Gerais</option><option value="MS">Mato Grosso do Sul</option><option value="MT">Mato Grosso</option><option value="PA">Pará</option><option value="PB">Paraíba</option><option value="PE">Pernambuco</option><option value="PI">Piauí</option><option value="PR">Paraná</option><option value="RJ">Rio de Janeiro</option><option value="RN">Rio Grande do Norte</option><option value="RO">Rondônia</option><option value="RR">Roraima</option><option value="RS">Rio Grande do Sul</option><option value="SC">Santa Catarina</option><option value="SE">Sergipe</option><option value="SP">São Paulo</option><option value="TO">Tocantins</option>					</select>
        </div>
        <div class="sfield">
            <select data-placeholder="Todas as cidades" id="city_id" name="city_id" ng-model="search.cidade"  ng-change="updateHood()">
						<option value="">Todas as cidades</option>
						<option ng-repeat="city in citys" value="{{city}}">{{city.nome}}</option>
					</select>
        </div>
        <div class="sfield">
            <select data-placeholder="Condomínio" ng-model="search.condominio" id="condominio" name="condominio">
						<option value="">Condomínio</option>
						<option value="com-condominio">Com condomínio</option>
						<option value="sem-condominio">Sem condomínio</option>
						<option value="com-e-sem-condominio">Com e sem condomínio</option>
					</select>
        </div>
        <div class="sfield">
            <select data-placeholder="Todos os bairros" ng-model="search.bairro" id="location" name="location">
						<option value="">Todos os bairros</option>
<option ng-repeat="hood in hoods track by $index" value="{{hood.nome}}">{{hood.nome}}</option>						
					</select>
        </div>
    </div>
    <div class="search-clear"><a class="ssearch" href="#" ng-click="searchByFilters()">Filtrar</a><a></a><a class="csearch" href="#">Limpar filtros</a><a></a></div>
</div>