<div class="pane house">
<div class="top-inner">
	<div class="back-btn">
		<a href="#/houses">			
			<i class="ion ion-ios-arrow-back"></i>
			<span>Imóvel</span>
		</a>
	</div>
	<div class="opt-right">
		<a href="#/search"><img src="./assets/res/Icon%2003.png" alt=""></a>
	</div>
</div>
<div class="product">
	
	<div class="product-entry">
		<div class="product-hero" ng-class="{'open':expandImage == true}">
			<div class="label" ng-show="house.adv.ehdestaque">Destaque</div>
			<img data-ng-swipe-right="someFunction()" ng-click="expand()" ng-src="{{house.adv.image? house.root + '/media/'+house.adv.image:'http://longwoodinteriors.com/wp-content/uploads/2014/04/placeholder4-840x630.png'}}"  alt="">

			<div class="gal" ng-show="expandImage && house.gallery.length > 0">
				<img ng-click="alter(img)" ng-src="{{house.root + '/media/'+img}}" alt="" ng-repeat="img in house.gallery">
				<!-- <div>{{displayImg}}</div> -->
			</div>
			<div ng-click="expand()" class="hero-caption"  ng-hide="!house.adv.image">
				<span class="expand">
					<img src="./assets/res/Icon%2006.png" alt="">
					<span>Expandir</span>
				</span>
				<span class="image-count" ng-show="house.gallery.length == 0">
					<img src="./assets/res/Icon%2002.png" alt="">
					<span>0</span>
				</span>
				<span class="image-count"  ng-show="house.gallery.length > 0">
					<img src="./assets/res/Icon%2002.png" alt="">
					<span>1 de {{house.gallery.length}}</span>
				</span>
			</div>
			
		</div>
		<div class="product-meta">
			<div class="meta-field">
		
				<p class="meta-heading">Valor da venda:</p>
				R$ {{house.money}}
			</div>
			<div class="meta-field">
				<p class="meta-heading">Imóvel - {{house.type.name || 'Sobrado'}}:</p>
				{{house.adv.title}}
			</div>	
			<div class="meta-field">
				<p class="meta-heading">Total de quartos:</p>
				<p>{{house.adv.imob_quartos}} Quartos</p>
				<p>{{house.adv.imob_suite}} Suites</p>
				<p>{{house.adv.imob_banheiro}} Banheiros</p>
				<p>{{house.adv.imob_vagas}} Vagas</p>
			</div>	
			<div class="meta-field">
				<p class="meta-heading">Descrição:</p>
				{{house.type.nome}}
				{{house.adv.sumary}}
			</div>		
			<div class="meta-field">
				<p class="meta-heading">Detalhes:</p>
				<p ng-show="house.adv.imob_condominio">Valor do comdomínio: R$ {{house.adv.imob_condominio}}</p> 
				<p ng-show="house.adv.imob_iptu">Valor do IPTU: R$ {{house.adv.imob_iptu}}</p> 
				<p ng-show="house.adv.imob_area">Área total: {{house.adv.imob_area}}m²</p> 
				<p ng-show="house.adv.imob_area_p">Área privada: {{house.adv.imob_area_p}}m²</p> 
				<p>Andares: 1</p> 
			</div>	
			<div class="meta-field" ng-show="house.adv.imob_adicionais.length > 0">
				<p class="meta-heading">Características:</p>
				<p ng-repeat="(key, value) in house.adv.imob_adicionais track by $index">{{value.join(' ')}}</p>
			</div>	
			<div class="meta-field">
				<p class="meta-heading">Dados:</p>
				<p ng-show="house.partner">Nome: {{house.partner.title}}</p> 
				<p ng-show="house.partner.mobile">Telefone: {{house.partner.mobile}}</p> 
				<p ng-show="house.adv.imob_codigo">Cod imóvel: {{house.adv.imob_codigo}}</p>
			</div>										
		</div>
		<div class="map-view">
			<a href="geo:{{house.geo}}">
				<img img-fade-in-onload="{{house.map}}">
			</a>
		</div>
		<div class="show-more">
			<!-- <a href="#">Ver anúncios similares</a> -->
		</div>
		<div class="get-intouch" ng-click="toggleContact()">
			<p>Entre em contato</p>
		</div>
		<div class="get-in-touch-view" ng-show="showContact" ng-click="toggleContact()">
			<div class="gt-yeld">
				<div class="top">Escolha uma maneira de entrar em contato com o responsável pelo imóvel</div>
				<div class="bottom-fields">
					<a href="mailto:{{house.partner.contact}}">Enviar email</a>
					<a href="tel:{{house.partner.mobile}}">Clique para ligar</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
</div>